* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  background-color: #fafafc;
  color: #777;
  display: flex;
  justify-content: center;
}

p {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 14px;
}

.app {
  width: 80vw;
}

.header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3rem;
}

.header span {
  color: #de1b89;
  font-weight: 600;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.surprise {
  background-color: #ececf1;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  margin: 0 0 2px 5px;
  padding: 4px 12px;
  cursor: pointer;
}

.input-container {
  width: 100%;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}

.input-container input {
  width: 90%;
  border: none;
  padding: 13px 14px;
  font-size: 15px;
  outline: none;
  font-weight: 200;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 200;
}

.input-container button {
  width: 10%;
  border: none;
  border-left: 1px #cacaca solid;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color: #cacaca;
}

.error-msg {
  margin-top: 1rem;
  color: #777;
}

.image-section {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.image-section img {
  min-width: 250px;
  max-width: 33%;
  flex-grow: 1;
}

@media only screen and (max-width: 556px) {
  .image-section img {
    max-width: 100%;
  }
}
